<form class="add-creature-type-form">
  <div class="form-group">
    <label for="newCreatureType">{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.TypeLabel'}}</label>
    <input type="text" id="newCreatureType" name="newCreatureType" placeholder="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.TypePlaceholder'}}">
  </div>
  <div class="form-group">
    <label for="newCreatureSubtype">{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.SubtypeLabel'}}</label>
    <input type="text" id="newCreatureSubtype" name="newCreatureSubtype" placeholder="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.SubtypePlaceholder'}}">
  </div>
  <div class="form-group">
    <label for="newCreatureTreasureType">{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.TreasureTypeLabel'}}</label>
    <input type="text" id="newCreatureTreasureType" name="newCreatureTreasureType" placeholder="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.TreasureTypePlaceholder'}}">
  </div>
  <div class="form-group">
    <label for="newCreatureCRMin">{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.CRMinLabel'}}</label>
    <input type="number" id="newCreatureCRMin" name="newCreatureCRMin" min="0" max="30" value="0" required
           data-error-required="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.RequiredField'}}"
           data-error-max="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.MaxValueError'}}"
           data-error-range="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.InvalidCRRange'}}">
  </div>
  <div class="form-group">
    <label for="newCreatureCRMax">{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.CRMaxLabel'}}</label>
    <input type="number" id="newCreatureCRMax" name="newCreatureCRMax" min="0" max="30" value="30" required
           data-error-required="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.RequiredField'}}"
           data-error-max="{{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.MaxValueError'}}">
  </div>
  <div class="form-group">
    <button type="submit" name="submit">
      <i class="fas fa-plus"></i> {{localize 'LOOTABLE.RandomLootSettings.AddCreatureType.Confirm'}}
    </button>
  </div>
</form>
